<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% if messages %}
    <div>
      <strong>Mensajes:</strong>
      &nbsp;<ul>
        {% for message in messages %}
        &nbsp;<li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <br>
    <div class="container">
      <a class="btn btn-primary" href="{% url 'home' %}" role="button"><i class="fa fa-home"></i> Ir a home</a>
      <br><br>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
    </div>
</body>
  <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
</html>