{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Inicia Sesión" %}{% endblock %}

{% block content %}
<br>
<div class="card text-dark bg-warning mb-3" style="max-width: 30rem;align-items: center;margin-left: 33%;">
  
  <div class="card-header">
      <h2>{% trans "Inicia Sesión" %}</h2>
  </div>

{% get_providers as socialaccount_providers %}

{% load crispy_forms_tags %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}Si tu no haz creado una cuenta aun, entonces
<a href="{{ signup_url }}">registrate</a> primero.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
    {{form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Olvidaste tu contraseña?" %}</a>
  <button class="btn btn-success" type="submit">{% trans "Inicia Sesión" %}</button>
</form>
<br>
{% endblock %}

</div>
