<br>
&nbsp;{% extends "account/base.html" %}

{% load i18n %}
{% load socialaccount %}
{% load account socialaccount %}

{% block head_title %}{% trans "Inicia Sesión" %}{% endblock %}

{% block content %}
<br>
<div class="card text-dark bg-warning mb-3" style="max-width: 30rem;align-items: center;margin-left: 33%;">
  
  <div class="card-header">
      <h2>{% trans "Inicia Sesión" %}</h2>
  </div>

{% get_providers as socialaccount_providers %}

{% load crispy_forms_tags %}

<div class="container">
  {% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Por favor registrate con alguno de nuetros provedores third party o <a href="{{ signup_url }}">registrate</a>
para el sitio: <strong>{{ site_name }}</strong> ingresando las credenciales aquí abajo:{% endblocktrans %}</p>
  
</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}Si tu no haz creado una cuenta aun, entonces
<a href="{{ signup_url }}">registrate</a> primero.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
    {{form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <br>
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Olvidaste tu contraseña?" %}</a><br><br>
  <button style="align-content: center;" class="btn btn-success" type="submit">{% trans "Inicia Sesión" %}</button>
</form>
<br>

<div class="socialaccount_ballot">
  <a class="btn btn-dark" type="button" href="{% provider_login_url "github" method="oauth2" %}"><i class="fa fa-github"></i>&nbsp;Github</a>
  <a class="btn btn-danger" type="button" href="{% provider_login_url "google" method="oauth2" %}"><i class="fa fa-google"></i> Google</a>
</div>
<br>
{% endblock %}

</div>
