{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Cambiar contraseña" %}{% endblock %}

{% block content %}
<br><br>
    <h1>{% trans "Cambiar contraseña" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button class="btn btn-info" type="submit" name="action">{% trans "Cambiar contraseña" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Olvidaste la contraseña?" %}</a>
    </form>
{% endblock %}
