<br>
{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<h1>{% trans "Verifica tu direccion de E-mail" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Se requiere una confirmacion de que eres el dueño  del email {% endblocktrans %}</p>

<p>{% blocktrans %}Hemos enviado un email para tu confirmacion.  Si no lo recibes contactanos{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Nota:</strong> aun puesde cambiar tu email <a href="{{ email_url }}"></a>.{% endblocktrans %}</p>


{% endblock %}s