version: '3'

services:
    db:
        image: postgres
        environment: 
            - POSTGRES_DB=postgres
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres

    web:
        build: .
        command: python manage.py runserver 0.0.0.0:8000
        #command: gunicorn liga.wsgi -b runserver 0.0.0.0:8000
        volumes:
            - .:/code
        ports:
            - "8000:8000"
        depends_on:
            - db
        environment:
            - STRIPE_TEST_PUBLISHABLE_KEY=pk_test_51IyPhhGoNLcFbmsUufJQQmwbw8KpjSIC8xu7UEWTGAkohQ81OhfRbsmQfY8QE69LOjPN8bXdXpBn8TW3Er6i848M007qAdqyKY
            - STRIPE_TEST_SECRET_KEY=sk_test_51IyPhhGoNLcFbmsUvvNWq5cxMwuOUZGvvVVtIliaPy4yVSpFM5aO5mLvVF0H7aTBWQVQ9OHWF6NHNqxMXe8l7f3200ZNDvOnBW
            - USER_MAIL=alu.16130067@correo.itlalaguna.edu.mx
            - USER_MAIL_PASSWORD=correoITL.
volumes:
    postgres_data: