[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-allauth = "*"
stripe = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"
django-crispy-forms = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
