{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contenido %}
<br><br><br>
<h2>Pago mediante PayPal</h2>
<body>
    <p>Total a pagar: <strong>$ {{productos.precio}} </strong></p>
    <div style="text-align: center;" class="container">
    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>
    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AdHaHUB2Ndl8kCY-AcIa2BP7eI6ULHNl1YGT8SoUfPJO-iv6PJmEo3GP1LOoDTRJmNZRfKsTZwxHsY5g&currency=MXN"></script>
    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: "{productos.precio}"
                        }
                    }]
                });
            },
            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    return render(request,'../orders/charge.html')
                    alert('Transaccion completada por ' + details.payer.name.given_name + '!');
                    return render(request,'../orders/charge.html')
                });
            }
        }).render('#paypal-button-container');
    </script> 
    </div>
    <br>
    <a type="button" class="btn btn-success" href="{% url 'home' %}">Ir a home</a>
</body>
{% endblock contenido %} 