{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block contenido %} 
<br>
<center>
    <form method="post" novalidate>{% csrf_token %}
    <div class="row">
        <div class="col-12">
            <div class="card text-white bg-danger mb-3" style="max-width: 25rem;">
                <div class="card-header">ALERT</div>
                <div class="card-body">
                    <h5 class="card-title">Desea eliminar el siguiente equipo: <strong style="color: chartreuse;">"{{team.nombre}}" </strong>?</h5>
                    <p class="card-text text-center">
                        <button type="submit" class="btn btn-outline-dark">Delete</button>
                        {{ form|crispy }}
                        <a class="btn btn-primary" href="{% url 'home' %}" role="button">Go back</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>
</center>
{% endblock %} 